<!DOCTYPE html>
<html>
<head>
  <title>Location App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- jquery  and materialize on CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
<style>
  nav .nav-wrapper i {
    display: inline;
    font-size: 2rem;
}
</style>

</head>
<body>
<nav class = "cyan">
	<div class = "nav-wrapper container">
		<a href="/" class = "brand-logo"><i class="material-icons">timeline</i>Kairos</a>
		<ul class = "right">
			<li><%= link_to "Locations", "/contact"  %></li>
      <li><%= link_to "Schedules", "/timetable"  %></li>
			<li><%= link_to "Removing", "/contact"  %></li>
		</ul>
	</div>
</nav>
<br>
<%= yield %>

</body>
        <footer class="page-footer cyan">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4">This application is still in early development stages</p>
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Darius Jones
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</html>

